body {
  margin: 0;
  background: white;
}
form {
  margin: 0;
}
@-moz-keyframes blink {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@keyframes blink {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
noscript h1 {
  padding:20px
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes grow {
  0%  { transform: translateX(10px); }
  50%  { transform: translateX(5px); }
  100% { transform: translateX(0px); }
}
@-moz-keyframes grow {
  0%  { transform: translateX(10px); }
  50%  { transform: translateX(5px); }
  100% { transform: translateX(0px); }
}
@-webkit-keyframes grow {
  0%  { transform: translateX(10px); }
  50%  { transform: translateX(5px); }
  100% { transform: translateX(0px); }
}
@-ms-keyframes grow {
  0%  { transform: translateX(10px); }
  50%  { transform: translateX(5px); }
  100% { transform: translateX(0px); }
}
@-o-keyframes grow {
  0%  { transform: translateX(10px); }
  50%  { transform: translateX(5px); }
  100% { transform: translateX(0px); }
}
section.ey-section  {
  padding: 0;
}
.ey-chat-nav {
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #374050;
}
.ey-close-btn {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px 28px 0 0;
  font-size: 30px;
  text-align: right;
  color: #d8d8d8;
}
.ey-container .chat-buttons {
  margin-top: 0;
  padding: 0;
  border: 0;
  background-image: none;
  -webkit-animation-duration: 0.8s, 0.5s;
  -moz-animation-duration: 0.8s, 0.5s;
  -ms-animation-duration: 0.8s, 0.5s;
  -o-animation-duration: 0.8s, 0.5s;
  animation-duration: 0.8s, 0.5s;
  -webkit-animation-delay: 0s, 0s;
  -moz-animation-delay: 0s, 0s;
  -ms-animation-delay: 0s, 0s;
  -o-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
  -webkit-animation-name: fadein, grow;
  -moz-animation-name: fadein, grow;
  -ms-animation-name: fadein, grow;
  -o-animation-name: fadein, grow;
  animation-name: fadein, grow;
}
.ey-container {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	width: 100%;
	height: auto;
	color: #2b313f;
	font-size: 1.25em;
	overflow: hidden;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2000000000;
}
.ey-container .user-request,
.ey-container .server-response {
  display: inline-block;
  padding: 15px 25px;
  margin-bottom: 5px;
  clear: both;
}
.ey-container .user-request.server-response-error,
.ey-container .server-response.server-response-error {
  background-color: #F76949;
}
.ey-container .user-request {
  float: left;
  margin-right: 15px;
  margin-top: 15px;
  margin-left: 15px;
  color: #fff;
  background: #417dc3;
  border-radius: 16px 16px 16px 0;
}
.ey-container .server-response {
  color: #4a4a4a;
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 16px 16px 0 16px;
  background-color: #ffffff;
}
.ey-container .server-response.chat-buttons {
  background-color: transparent;
	font-size: 0.875em;
	margin: 0;
	padding: 15px;
	text-align: right;
}
.ey-container .ey_result {
  overflow-y: auto;
  background: #d8d8d8;
  position: absolute;
  top: 80px;
  bottom: 55px;
  width: 100%;
}
.ey-container .ey_result-table {
  height: 100%;
  min-height: 100%;
  width: 100%;
}
.ey-container .ey_result-table td {
  vertical-align: bottom; padding-bottom: 15px;
}
.ey-container .ey_input {
  position: absolute;
  bottom: 0;
  height: 55px;
  border-top: 1px solid lightgray;
  background-color: white;
  width: 100%;
}
.ey-container #agentDemoForm {
  display: block;
  margin-left: 24px;
  margin-right: 55px;
}
.ey-container #query {
  width: 100%;
  border: 0;
  font-weight: 300;
  margin: 0;
  height: 55px;
}
.ey-container #query::placeholder {
  color: #9b9b9b;
}
.ey-container #query:focus {
  outline: none;
  outline-offset: 0;
}
.ey-container .ey_input-send {
  display: none;
  position: absolute;
  font-size: 1.75em;
  width: 54px;
  height: 54px;
	right: 0;
	bottom: 0;
	cursor: pointer;
	text-align: center;
	/* line-height: 30px; */
	line-height: 54px;
	background: white;
	color: white;
}
.ey-container .ey_input-send.active {
  color: #4970f7;
}
.ey-container .b-agent-demo_powered_by {
  position: fixed;
  left: 0;
  right: 0;
  top: 80px;
  height: 30px;
  background-color: #F8F8F8;
  vertical-align: middle;
}
.ey-container .b-agent-demo_powered_by span {
  color: #B7BBC4;
  text-transform: uppercase;
  float: right;
  vertical-align: middle;
  line-height: 20px;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 0.75em;
  margin-left: -10px;
}
.ey-container .b-agent-demo_powered_by img {
  margin-top: 7px;
  height: 16px;
  margin-right: 20px;
  float: right;
  vertical-align: middle;
  border: 0;
}
.clearfix {
  clear: both;
}
.ey-container .chat-button {
  padding: 6px 25px;
  margin-left: 10px;
  margin-right: 0;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  background: #fff;
  color: #417dc3;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.menu {
  overflow: hidden;
}
.menu-icon {
  display: none;
  float: left;
  height: 54px;
  width: 54px;
  line-height: 54px;
  transition-duration: .25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: .25s;
}
.menu-open .menu-icon {
  display: none;
}
.menu-icon img {
  height: 30px;
}
.menu-input {
  overflow: hidden;
}
.main-menu {
  width: 230px;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 56px;
  background: white;
  overflow: hidden;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  z-index: 100;
}
.main-menu .menu-list {
  color: #111;
  font-weight: 700;
  border: 1px solid #333;
  border-radius: 5px;
  background: white;
  list-style-type: none;
}
.main-menu .menu-list li {
  padding: 8px 10px;
  cursor: pointer;
  transition-duration: .25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: .25s;
}
.main-menu .menu-list li:last-child {
  border: none;
}
.current-link {
  list-style-type: disc;
}
.inactive-link {
  font-weight: 100;
  font-style: italic;
  color: #393939;
}
@font-face{font-family:icomoon;src:url(icomoon.eot?o8kcso);src:url(icomoon.eot?o8kcso#iefix) format('embedded-opentype'),url(icomoon.ttf?o8kcso) format('truetype'),url(icomoon.woff?o8kcso) format('woff'),url(icomoon.svg?o8kcso#icomoon) format('svg');font-weight:400;font-style:normal}[class*=" icon-"],[class^=icon-]{font-family:icomoon!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-send:before{content:"\ea42"}
