/* Navbar icon */
.ey-chat-logo {
  background-color: #fff;
  background-image: url(https://css.eyelevel.ai/default.png);
}

/* In chat icon */
.ey-chat .server-icon-img {
  background-color: #fff;
  background-image: url(https://css.eyelevel.ai/default.icon.png);
}

/* Navbar title */
.ey-chat-name::before {
  content: "EyeLevel";
  color: #fff;
}

/* Navbar background */
.ey-chat-nav {
  background: linear-gradient(0deg, hsl(219, 20%, 34%), hsl(219, 21%, 33%));
}

/* Close button color */
.ey-close-btn {
  text-shadow: 0 0 0 #fff;
}

/* Chat background */
.ey-chat .ey_result {
  background: #d8d8d8;
}

/* Chat input box */
.ey-chat .ey_input {
  border-top: 1px solid #d3d3d3;
  background: #ffffff;
}
/* Chat input box */
.ey-chat .ey_input-send {
  background: #ffffff;
}
/* Chat input text */
.menu-input input {
  color: #2b313f;
  /* Chat input box */
  background: #ffffff;
}
/* Chat placeholder text */
.ey-chat input::placeholder {
  color: #9b9b9b;
}

/* Chat send button */
.ey-chat .ey_input-send.active {
  color: #7197c9;
}

/* Server response chat bubble */
.ey-chat .server-response {
  color: #4a4a4a;
  background: #ffffff;
}

/* Chat button container */
.ey-chat .chat-buttons {
  border: 0;
}

/* User request chat bubble */
.ey-chat .user-request {
  color: #fff;
  background: #417dc3;
}

/* Buttons */
.ey-chat .chat-button {
  border: 1px solid #c4c4c4;
  background: #fff;
  color: #417dc3;
}
